numpy~=2.3.4
scipy~=1.16.1
scikit-learn~=1.7.2
tqdm~=4.67.1
deepeval~=3.6.0
upycli~=0.2.11
instructor~=1.7.9
openai~=1.101.0
pydantic~=2.11.9
pandas~=2.2.3
requests~=2.32.3
datasets~=3.3.2
torch~=2.8.0
transformers~=4.56.2
rank-bm25~=0.2.2
spacy~=3.8.7
nltk~=3.9.2
fastapi~=0.115.14
orjson~=3.11.3
pylatexenc~=2.10
beautifulsoup4~=4.13.4
soupsieve~=2.5
setuptools~=72.1.0
openreview-py